resources:
#set($hostList = $json.parse($http.get({ "url": "https://cmdb/servers" })).root())

#foreach($host in $hostList)
  #if($host.OSType == "Windows")
  $host.hostname:
    attributes:
      host.name: $host.hostname
      host.type: windows
    protocols:
      ping:
      wmi:
        timeout: 120
        username: $host.adminUsername
        password: $http.get({ "url": "https://passwords/servers/${host.hostname}/password" })
  #end
#end