/*-
 * ╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲
 * MetricsHub Agent
 * ჻჻჻჻჻჻
 * Copyright 2023 - 2025 MetricsHub
 * ჻჻჻჻჻჻
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * ╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱╲╱
 */

/* Poppins font */
@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
		url('../fonts/Poppins-ExtraBold.woff') format('woff'),
		url('../fonts/Poppins-ExtraBold.ttf') format('truetype'),
		local('Helvetica');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
		url('../fonts/Poppins-Bold.woff') format('woff'),
		url('../fonts/Poppins-Bold.ttf') format('truetype'),
		local('Helvetica');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
		url('../fonts/Poppins-Regular.woff') format('woff'),
		url('../fonts/Poppins-Regular.ttf') format('truetype'),
		local('Helvetica');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	/* MetricsHub fonts */
	--title-font: "Poppins", sans-serif;
	--heading-font: "Poppins", sans-serif;
	--content-font: "Poppins", sans-serif;

	--content-font-size: medium;
	--banner-font-size: 40px;
	--banner-font-weight: 800;
	--bottom-font-size: 14px;


	/* MetricsHub colors */
	--metricshub-red: #e50031;
	--metricshub-green: #45ce52;
	--metricshub-blue: #2684ff;

	--metricshub-red-dark: #ad0227;
	--metricshub-green-dark: #088f15;
	--metricshub-blue-dark: #166fe3;

	--metricshub-red-light: #fd3c65;
	--metricshub-green-light: #78f885;
	--metricshub-blue-light: #5ca2ff;
}

/* Light theme */
body.metricshub,
html:has(body.metricshub) {
	--main-bgcolor: #ffffff;
	--main-fgcolor: #212529;
	--medium-bgcolor: #e9ecef;
	--light-bgcolor: #f8f9fa;
	--link-color: var(--metricshub-blue-dark);
	--alternate-bgcolor: var(--metricshub-blue-dark);
	--alternate-fgcolor: #fff;

	--banner-bgcolor: var(--medium-bgcolor);
	--banner-fgcolor: #000;
	--top-font-size: 16px;

	background-color: var(--main-bgcolor);
}

/* Dark theme */
body.metricshub.dark,
html:has(body.metricshub.dark) {
	--main-bgcolor: #212529;
	--main-fgcolor: #e9ecef;
	--medium-bgcolor: #343a40;
	--light-bgcolor: #414851;
	--link-color: var(--metricshub-blue-light);
	--alternate-bgcolor: var(--metricshub-blue);
	--banner-fgcolor: #f8f9fa;
}

/**
 * Top menu links
 */
body.metricshub .site-logo {
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: var(--main-bgcolor);
}

body.metricshub .site-logo .navbar-header>a,
body.metricshub .site-logo ul.nav.navbar-nav>li>a {
	letter-spacing: normal;
	text-transform: none;
	color: var(--main-fgcolor);
	opacity: 1;
	padding-left: 15px;
	padding-right: 15px;
}

body.metricshub .site-logo .navbar-header>a:hover,
body.metricshub .site-logo ul.nav.navbar-nav>li>a:hover {
	color: var(--link-color);
}

body.metricshub .site-logo .navbar-header>a.navbar-brand {
	font-size: var(--top-font-size);
}

body.metricshub .site-logo ul.nav.navbar-nav>li>a[href="https://support.metricshub.com"] {
	background-color: var(--main-bgcolor);
	color: var(--main-fgcolor);
	border-radius: 20px;
	border-style: solid;
	border-color: var(--main-fgcolor);
	border-width: 1px;
	height: 40px;
	margin-top: 5px;
	padding-top: 10px;}

body.metricshub .site-logo ul.nav.navbar-nav>li>a[href="https://support.metricshub.com"]:hover {
	background-color: var(--main-fgcolor);
	color: var(--main-bgcolor);
}

body.metricshub .site-logo ul.nav.navbar-nav.navbar-right>li>a
{
	font-size: var(--top-font-size);
	background-color: var(--medium-bgcolor);
	border-radius: 45px;
	height: 44px;
	line-height: 36px;
	margin-right: 5px;
}

body.metricshub .site-logo ul.nav.navbar-nav.navbar-right>li>a:hover {
	background-color: var(--alternate-bgcolor);
	color: var(--alternate-fgcolor);
}

body.metricshub li.dark-toggle .toggle.dark-toggle {
	width: 45px !important;
	height: 45px !important;
	border-radius: 22px;
	margin: 0;
}

body.metricshub li.dark-toggle .toggle-on-pad {
	font-size: var(--top-font-size) !important;
	padding-top: 11px !important;
}

body.metricshub li.dark-toggle .toggle-off-pad {
	font-size: var(--top-font-size) !important;
	padding-top: 13px !important;
}

body.metricshub header .site-logo-xs a::before {
	content: " ";
	display: inline-block;
	background-image: url(../images/metricshub-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 30px;
	width: 53px;
	margin-bottom: -10px;
}

/**
 * Banner
 */
body.metricshub .site-banner .navbar-brand {
	max-width: calc(100vw - 1em - 35px);
}

body.metricshub .site-banner .header-title,
body.metricshub .site-banner .header-subtitle {
	overflow: clip;
	text-overflow: ellipsis;
}

/**
 * Left menu
 */
body.metricshub nav.left-menu {
	background-color: var(--light-bgcolor);
}

body.metricshub nav.left-menu h5 {
	color: var(--main-fgcolor);
	margin-top: 40px;
	margin-bottom: 10px;
}

body.metricshub nav.left-menu>ul>li:first-child {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

body.metricshub nav.left-menu ul>li>a {
	color: var(--main-fgcolor);
	background-color: var(--medium-bgcolor);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body.metricshub nav.left-menu ul>li:not(.active)>a:hover {
	background-color: var(--main-bgcolor);
	color: var(--main-fgcolor);
}

body.metricshub nav.left-menu ul>li.active>a,
body.metricshub nav.left-menu ul>li.active>a:hover {
	background-color: var(--alternate-bgcolor);
	color: var(--alternate-fgcolor);
}

body.metricshub nav.left-menu code {
	color: var(--main-fgcolor)
}

/**
 * Main content
 */
body.metricshub .main-content .breadcrumb::after {
	background-color: var(--light-bgcolor);
	opacity: 1;
}

body.metricshub .toc-side-container .toc::after {
	background-color: var(--light-bgcolor);
	opacity: 1;
	border-radius: 4px;
}

body.metricshub .toc-inline-container #toc::after {
	border-left-color: var(--medium-bgcolor);
	opacity: 1;
}

body.metricshub .main-content .document-footer .keywords .label::after {
	background-color: var(--alternate-bgcolor);
	opacity: 1;
	border-radius: 14px;
}

body.metricshub .main-content .document-footer .keywords .label:hover::after {
	background-color: var(--main-fgcolor);
}

body.metricshub .main-content .document-footer .keywords .label {
	color: var(--alternate-fgcolor);
	letter-spacing: normal;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
}

body.metricshub .main-content .document-footer .keywords .label:hover {
	color: var(--main-bgcolor);
}

/** Various stuff in the main content */
body.metricshub .main-content .label-default {
	background-color: var(--medium-bgcolor);
}
body.metricshub .main-content .label {
	border-radius: 1em;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: 400;
}

body.metricshub .main-content .label-default.metricshub-tag {
	background-color: var(--alternate-bgcolor);
	color: var(--alternate-fgcolor);
	transition: background-color .2s ease-in-out, color .2s ease-in-out;
}
body.metricshub .main-content .label-default.metricshub-tag:hover {
	background-color: var(--main-fgcolor);
	color: var(--main-bgcolor);
}
body.metricshub .main-content .label-default.metricshub-tag a {
	color: inherit;
	text-decoration: none;
}

body.sentry-site.metricshub .table>tbody>tr {
	position: unset;
	z-index: unset;
	background: unset;
}
body.sentry-site.metricshub .table>tbody>tr::after {
	display: none;
}
body.sentry-site.metricshub:not(.dark) .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: var(--light-bgcolor);
}
body.sentry-site.metricshub.dark .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: var(--medium-bgcolor);
}

/**
 * Footer
 */
body.metricshub footer {
	background-color: var(--light-bgcolor);
	color: var(--main-fgcolor);
	letter-spacing: normal;
	text-transform: none;
}

body.metricshub footer .site-logo.site-logo-xs {
	background-color: var(--light-bgcolor);
}

body.metricshub footer .site-logo.additional-links {
	background-color: var(--light-bgcolor);
}

body.metricshub footer .site-logo .navbar-header>a,
body.metricshub footer .site-logo ul.nav.navbar-nav>li>a {
	padding-left: 10px;
	padding-right: 10px;
	font-size: var(--bottom-font-size);
}

/* Add some spacing around the button to Support Desk in footer in mobile mode */
body.metricshub footer .site-logo-xs li>a[href="https://support.metricshub.com"] {
	margin-top: 15px;
	margin-bottom: 15px;
}

body.metricshub footer .navbar.site-logo.site-logo-xs>.nav.navbar-nav>li.icons {
	padding-top: 20px;
}

body.metricshub footer .navbar.site-logo.site-logo-xs>.nav.navbar-nav>li.icons>a {
	font-size: 32px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Removes the second MetricsHub item in the list, as it's duplicate with the project name */
body.metricshub footer .site-logo-xs li:nth-child(2) {
	display: none;
}

body.metricshub footer>.footer-copyright a {
	color: var(--main-fgcolor)
}

/* Make the day/night toggle full width in mobile footer */
body.metricshub footer .site-logo-xs li.dark-toggle .toggle.dark-toggle {
	width: 100% !important;
}

/* Align the sun and moon in the toggle (eclipse? 😅) */
body.metricshub footer .site-logo-xs .toggle-off-pad.btn {
	padding-left: 18px;
}

/**
 * Code
 */

body.sentry-site.metricshub code,
body.sentry-site.metricshub pre,
body.sentry-site.metricshub pre>code {
	background-color: var(--medium-bgcolor);
	color: var(--main-fgcolor);
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	direction: ltr;
	text-align: left;
	word-break: break-all;
	font-size: .9em;
	line-height: 1.2em;
	tab-size: 4;
	hyphens: none;
	position: unset;
}

/* Code blocks */
body.sentry-site.metricshub pre {
	padding: .5em;
	margin: .5em 0;
	overflow: auto;
}

/* Remove the unnecessary background from inline code */
body.sentry-site.metricshub :not(pre)>code {
	background-color: var(--medium-bgcolor);
	color: var(--main-fgcolor);
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	position: unset;
	z-index: unset;
}

body.sentry-site.metricshub :not(pre)>code::after {
	display: none;
}

/* Selection styles */
body.metricshub pre::selection,
body.sentry-site.metricshub pre ::selection,
body.sentry-site.metricshub code::selection,
body.sentry-site.metricshub code ::selection {
	background: var(--alternate-bgcolor);
}

/* Light theme */
body.metricshub:not(.dark) .token.comment,
body.metricshub:not(.dark) .token.prolog,
body.metricshub:not(.dark) .token.doctype,
body.metricshub:not(.dark) .token.cdata {
	color: #999c9f;
	font-style: italic;
}

body.metricshub:not(.dark) .token.namespace {
	opacity: .7;
}

body.metricshub:not(.dark) .token.string,
body.metricshub:not(.dark) .token.attr-value,
body.metricshub:not(.dark) .token.inserted {
	color: var(--metricshub-green-dark);
}

body.metricshub:not(.dark) .token.punctuation,
body.metricshub:not(.dark) .token.operator {
	color: #393a3c;
}

body.metricshub:not(.dark) .token.entity,
body.metricshub:not(.dark) .token.url,
body.metricshub:not(.dark) .token.symbol,
body.metricshub:not(.dark) .token.number,
body.metricshub:not(.dark) .token.boolean,
body.metricshub:not(.dark) .token.variable,
body.metricshub:not(.dark) .token.constant,
body.metricshub:not(.dark) .token.property,
body.metricshub:not(.dark) .token.regex {
	color: var(--metricshub-red-dark);
}

body.metricshub:not(.dark) .token.atrule,
body.metricshub:not(.dark) .token.keyword,
body.metricshub:not(.dark) .token.attr-name,
body.metricshub:not(.dark) .token.class-name {
	color: var(--metricshub-blue-dark);
}

body.metricshub:not(.dark) .token.function,
body.metricshub:not(.dark) .token.deleted {
	color: var(--metricshub-red);
}

body.metricshub:not(.dark) .token.tag,
body.metricshub:not(.dark) .token.selector {
	color: var(--metricshub-blue);
}

body.metricshub:not(.dark) .token.important,
body.metricshub:not(.dark) .token.function,
body.metricshub:not(.dark) .token.bold {
	font-weight: bold;
}

body.metricshub:not(.dark) .token.italic {
	font-style: italic;
}

/* Dark theme */
body.metricshub.dark .token.comment,
body.metricshub.dark .token.prolog,
body.metricshub.dark .token.doctype,
body.metricshub.dark .token.cdata {
	color: #999c9f;
	font-style: italic;
}

body.metricshub.dark .token.namespace {
	opacity: .7;
}

body.metricshub.dark .token.string,
body.metricshub.dark .token.attr-value,
body.metricshub.dark .token.inserted {
	color: var(--metricshub-green);
}

body.metricshub.dark .token.punctuation,
body.metricshub.dark .token.operator {
	color: #a9acb3;
}

body.metricshub.dark .token.entity,
body.metricshub.dark .token.url,
body.metricshub.dark .token.symbol,
body.metricshub.dark .token.number,
body.metricshub.dark .token.boolean,
body.metricshub.dark .token.variable,
body.metricshub.dark .token.constant,
body.metricshub.dark .token.property,
body.metricshub.dark .token.regex {
	color: var(--metricshub-green);
}

body.metricshub.dark .token.atrule,
body.metricshub.dark .token.keyword,
body.metricshub.dark .token.attr-name,
body.metricshub.dark .token.class-name {
	color: var(--metricshub-blue-light);
}

body.metricshub.dark .token.function,
body.metricshub.dark .token.deleted {
	color: var(--metricshub-red-light);
}

body.metricshub.dark .token.tag,
body.metricshub.dark .token.selector {
	color: var(--metricshub-green-light);
}

body.metricshub.dark .token.important,
body.metricshub.dark .token.function,
body.metricshub.dark .token.bold {
	font-weight: bold;
}

body.metricshub.dark .token.italic {
	font-style: italic;
}

/* Platform tiles */
body.metricshub.dark .platform-tile {
	background: var(--light-bgcolor);
	color: var(--main-fgcolor);
	box-shadow: none;
}

body.metricshub.dark .platform-tile:hover {
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.metricshub.dark .platform-tile .platform-title {
	color: var(--main-fgcolor);
}

.metricshub .platform-tile-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	padding: 10px;
	width: 100%;
}

.metricshub .platform-tile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--medium-bgcolor);
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding: 20px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	text-decoration: none;
	color: var(--main-fgcolor);
}

.metricshub .platform-tile:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.metricshub .platform-tile .platform-title {
	font-size: 18px;
	color: var(--main-fgcolor);
	text-align: center;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.metricshub .platform-tile .platform-title .connectors-badge {
	margin-top: 0px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.metricshub .platform-tile .platform-icon {
	width: 140px;
	height: 140px;
	background-size: cover;
	background-position: center;
	margin-bottom: 15px;
}

.metricshub .platform-tile .platform-labels {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
	width: 100%;
}

.metricshub .platform-tile .badge,
.metricshub .platform-tile .label {
	font-size: 10px;
	padding: 5px 10px;
	text-align: center;
	white-space: nowrap;
}

.metricshub .platform-tile div:last-child {
	margin-top: auto;
}

@media (max-width: 1200px) and (min-width: 993px) {
	.metricshub .platform-tile-container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 992px) and (min-width: 769px) {
	.metricshub .platform-tile-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.metricshub .platform-tile-container {
		grid-template-columns: repeat(1, 1fr);
	}

	.metricshub .platform-tile {
		padding: 40px;
	}
}