Package: APPLICATION_PACKAGE
Version: APPLICATION_VERSION_WITH_RELEASE
Section: APPLICATION_SECTION
Maintainer: APPLICATION_MAINTAINER
Priority: optional
Architecture: APPLICATION_ARCH
Provides: APPLICATION_PACKAGE
Description: APPLICATION_DESCRIPTION
Depends: coreutils, grep, libc6, systemd, zlib1g
Installed-Size: APPLICATION_INSTALLED_SIZE
APPLICATION_HOMEPAGE