# Reusable Build with Maven
#
# This is not a release workflow, use it to build
# and/or deploy a SNAPSHOT version of your project.
#
# Call this workflow on push to the base branch.
#

name: Maven Build
run-name: Maven ${{ github.head_ref }} Build

on:
  workflow_call:
    inputs:
      jdkVersion:
        type: string
        description: "Version of the JDK to setup and use"
        required: false
        default: "21"
      mavenPhases:
        type: string
        description: "Maven phases to run (e.g., clean verify)"
        required: false
        default: "clean verify"
      mavenOptions:
        type: string
        description: "Additional Maven options (e.g., -DskipTests)"
        required: false
        default: ""
      debug:
        type: boolean
        description: "Enable Maven debug"
        required: false
        default: false
      ssh:
        type: boolean
        description: "Enable SSH session to the runner"
        required: false
        default: false
      additionalInstallPath:
        type: boolean
        description: "Additional install path for Maven artifacts"
        required: false
        default: false
    outputs:
      mavenArtifact:
        description: "Path to the Maven artifacts when additionalInstallPath is set to true"
        value: ${{ jobs.build.outputs.mavenArtifact }}
      packageArtifact:
        description: "Path to the Maven artifacts when additionalInstallPath is set to true"
        value: ${{ jobs.build.outputs.packageArtifacts }}
      version:
        description: "Version of the project as determined by Maven"
        value: ${{ jobs.build.outputs.version }}

permissions:
  # This is required for report upload
  checks: write
  contents: write
  pull-requests: write

jobs:

  build:
    name: Build with Maven

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up JDK ${{ inputs.jdkVersion }}
      id: jdk
      uses: actions/setup-java@v5
      with:
        java-version: ${{ inputs.jdkVersion }}
        distribution: temurin
        cache: maven

    - name: Set up Maven settings.xml
      uses: s4u/maven-settings-action@v4.0.0
      with:
        override: true
        repositories: |
          [
            {
              "id": "central-snapshots",
              "name": "Maven Repository Switchboard",
              "url": "https://central.sonatype.com/repository/maven-snapshots",
              "snapshots": { "enabled": true },
              "releases": { "enabled": false }
            }
          ]
        servers: '[{"id": "central", "username": "${env.MAVEN_CENTRAL_USERNAME}", "password": "${env.MAVEN_CENTRAL_TOKEN}"}]'
        sonatypeSnapshots: true

    - name: Setup tmate SSH session
      uses: mxschmitt/action-tmate@v3
      with:
        detached: true
        sudo: true
        install-dependencies: true
      if: ${{ inputs.ssh }}

    - name: Configure additional installation path for Maven artifacts
      shell: bash
      run: echo "additionalInstallPath=${{ runner.temp }}/maven" >> $GITHUB_ENV
      if: ${{ inputs.additionalInstallPath }}

    - name: Set Debug Flag
      id: debug_flag
      shell: bash
      run: echo "flag=${RUNNER_DEBUG:-0}" >> $GITHUB_OUTPUT

    - name: Configure Maven debug flag
      shell: bash
      run: echo "debugFlag=--debug" >> $GITHUB_ENV
      if: ${{ inputs.debug || steps.debug_flag.outputs.flag == '1'}}

    - name: Get Project Version
      id: version
      run: |
        echo "version=$(mvn help:evaluate -Dexpression=project.version -q -N -DforceStdout)" >> $GITHUB_OUTPUT

    - name: Build with Maven
      run: mvn ${{ env.debugFlag }} --batch-mode --file pom.xml ${{ inputs.mavenPhases }} ${{ inputs.mavenOptions }}
      env:
        LOCAL_REPOSITORY_PATH_INSTALL: ${{ env.additionalInstallPath }}
        MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
        MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}

    - name: Upload Maven Artifacts
      uses: actions/upload-artifact@v7
      if: ${{ inputs.additionalInstallPath }}
      with:
        name: maven-artifacts
        include-hidden-files: true
        path: ${{ env.additionalInstallPath }}

    - name: Prepare packaging assets
      run: |
        mkdir -p packaging-assets
        cp metricshub-assets/target/assets-*.zip packaging-assets/
        cp -r metricshub-assets/target/assets-docker/* packaging-assets/
        cp -r metricshub-assets/target/assets-packaging/* packaging-assets/
        ls -l packaging-assets/

    - name: Upload Community Package Artifacts
      uses: actions/upload-artifact@v7
      with:
        name: package-artifacts
        include-hidden-files: true
        path: packaging-assets/

    - name: Upload Checkstyle reports to GitHub
      uses: jwgmeligmeyling/checkstyle-github-action@v1.2
      with:
        path: "**/checkstyle-result.xml"

    - name: Upload Spotbugs reports to GitHub
      uses: jwgmeligmeyling/spotbugs-github-action@v1.2
      with:
        path: "**/spotbugsXml.xml"

    - name: Upload PMD reports to GitHub
      uses: jwgmeligmeyling/pmd-github-action@v1.2
      with:
        path: "**/pmd.xml"

    # Collect Maven build outputs
    outputs:
      mavenArtifact: maven-artifacts
      packageArtifacts: package-artifacts
      version: ${{ steps.version.outputs.version }}
