name: Watch JRE Latest Release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * 1-5'

env:
  BASE_URL: https://api.adoptium.net/v3/assets/feature_releases
  RELEASE_TYPE: ga 
  ARCHITECTURE: x64
  HEAP_SIZE: normal
  IMAGE_TYPE: jre
  JVM_IMPLEMENTATION: hotspot
  OS: linux
  JRE_VENDOR: eclipse

permissions:
  contents: write
  pull-requests: write

concurrency:
  group: watch

jobs:

  watch:
    name: Watch JRE Latest Release

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Set up JDK
      id: jdk
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: temurin
        cache: maven

    - name: Set up Maven settings.xml
      uses: s4u/maven-settings-action@v4.0.0
      with:
        override: true
        repositories: |
          [
            {
              "id": "central-snapshots",
              "name": "Maven Repository Switchboard",
              "url": "https://central.sonatype.com/repository/maven-snapshots",
              "snapshots": { "enabled": true },
              "releases": { "enabled": false }
            }
          ]
        servers: '[{"id": "central", "username": "${env.MAVEN_CENTRAL_USERNAME}", "password": "${env.MAVEN_CENTRAL_TOKEN}"}]'
        sonatypeSnapshots: true

    - name: Get Current Version
      id: version
      run: |
        current_version=$(mvn help:evaluate -Dexpression=metricshub-jre.version -q -N -DforceStdout)
        major_version=$(mvn help:evaluate -Dexpression=maven.compiler.release -q -N -DforceStdout)
        echo "current_version=${current_version}" >> $GITHUB_OUTPUT
        echo "CURRENT_VERSION_SEMVER=${current_version}" >> $GITHUB_ENV
        echo "CURRENT_VERSION=$(echo $current_version | sed 's/+/_/g')" >> $GITHUB_ENV
        echo "MAJOR_VERSION=${major_version}" >> $GITHUB_ENV

    - name: Get Latest Release
      id: get_release
      run: |
        export "temurin_url=${{ env.BASE_URL }}/${{ env.MAJOR_VERSION }}/${{ env.RELEASE_TYPE }}?architecture=${{ env.ARCHITECTURE }}&heap_size=${{ env.HEAP_SIZE }}&image_type=${{ env.IMAGE_TYPE }}&jvm_impl=${{ env.JVM_IMPLEMENTATION }}&os=${{ env.OS }}&page=0&page_size=1&project=jdk&sort_order=DESC&vendor=${{ env.JRE_VENDOR }}"
        release=$(curl -s $temurin_url | jq -r '.[0].version_data.semver')
        echo "release=$release" >> $GITHUB_OUTPUT

    - name: Check if release is different
      id: check_release
      run: |
        if [ "${{ steps.get_release.outputs.release }}" != "$CURRENT_VERSION_SEMVER" ]; then
          echo "Release ${{ steps.get_release.outputs.release }} is different from $CURRENT_VERSION_SEMVER"
          echo "NEXT_VERSION_SEMVER=${{ steps.get_release.outputs.release }}" >> $GITHUB_ENV
          NEXT_VERSION=$(echo ${{ steps.get_release.outputs.release }} | sed 's/+/_/g')
          echo "NEXT_VERSION=${NEXT_VERSION}" >> $GITHUB_ENV
          echo "BRANCH_NAME=release/v${NEXT_VERSION}" >> $GITHUB_ENV
          echo "create_pr=true" >> $GITHUB_OUTPUT
        else
          echo "Release ${{ steps.get_release.outputs.release }} is the same as $CURRENT_VERSION_SEMVER"
          echo "create_pr=false" >> $GITHUB_OUTPUT
        fi

    - name: Configure Git User
      if: steps.check_release.outputs.create_pr == 'true'
      run: |
        git config user.email "actions@github.com"
        git config user.name "GitHub Actions"

    - name: Create ${{ env.BRANCH_NAME }} branch
      if: steps.check_release.outputs.create_pr == 'true'
      run: |
        git checkout ${{ env.BRANCH_NAME }} 2>/dev/null || git checkout -b ${{ env.BRANCH_NAME }}
        git push --force --set-upstream origin ${{ env.BRANCH_NAME }}

    - name: Update Version Change from ${{ env.CURRENT_VERSION_SEMVER }} to ${{ env.NEXT_VERSION_SEMVER }} in Files
      id: update_version
      if: steps.check_release.outputs.create_pr == 'true'
      run: |
        mvn versions:set-property -Dproperty=metricshub-jre.version -DnewVersion=${{ env.NEXT_VERSION }} -N
        CHANGES=$(git diff --name-only)
        if [ -n "$CHANGES" ]; then
          echo "changes=true" >> $GITHUB_OUTPUT
        else
          echo No changes detected in branch ${{ env.BRANCH_NAME }}
          echo "changes=false" >> $GITHUB_OUTPUT
        fi

    - name: Commit and Push ${{ env.NEXT_VERSION_SEMVER }}
      if: steps.update_version.outputs.changes == 'true'
      run: |
        git add pom.xml
        git commit -m "Updated JRE Version Property to ${{ env.NEXT_VERSION_SEMVER }}"
        git push origin ${{ env.BRANCH_NAME }}

    - name: Create Pull Request from ${{ env.BRANCH_NAME }} to ${{ github.event.repository.default_branch }}
      if: steps.check_release.outputs.create_pr == 'true'
      uses: devops-infra/action-pull-request@v1.0.2
      with:
        github_token: ${{ github.token }}
        source_branch: ${{ env.BRANCH_NAME }}
        target_branch: ${{ github.event.repository.default_branch }}
        title: Prepare JRE ${{ env.NEXT_VERSION_SEMVER }}
        body: |
          ## Automated update of JRE version
          
          * Prepare JRE with **${{ env.NEXT_VERSION_SEMVER }}**
          * New version available for x86 Linux, **make sure to verify** availability for other platforms as needed!
        label: automatic
        get_diff: true
        allow_no_diff: true
